body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.content {
    padding-left: 10%;
    align-content: center;
    width: 1000px;
}

.imgPicture { 
  display: inline-block; 
  width: 250px; 
  height: 190px; 
  overflow: hidden; 
  border: 5px solid #CFCFCF; 
  outline: 1px solid #B5B5B5;
  background: #FFFFFF; 
  margin: 10px; 
  box-shadow: 8px 8px 4px -1px #5e524a;
  }

  .imgPicture img { 
  width: 250px; 
  border: none; 
  margin: 0; 
  padding: 0;   
  }
